@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --orange : #e88a18;
  --orange-70 : rgba(232, 138, 24, .7);
  --dark-orange: #d67600;
  --light-orange: #f1c085;
  --light-orange-20: hwb(33 52% 5% / 0.2);
  --white-orange: #f6d6b0;
  --black-orange: #774100;

  --aqua-green: #00bfa3;
  --green: #00bb6a;
  --dark-green: #00876f;
}

.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,.5);
  animation: appear .1s linear;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  color: white;
}

.page-title {
  font-size: 25px;
  color: rgba(0,0,0,.7);
  font-weight: bold;
}

.page-subtitle {
  font-size: 18px;
  color: rgba(0,0,0,.5);
  font-weight: bold;
}

.card {
  box-shadow: 0 0 3px var(--light-orange);
  margin-bottom: 18px;
  border-radius: 3px;
  border: 3px solid var(--orange-70);
  background-color: var(--light-orange-20);
  transition: transform .3s linear;
}

.card > hr {
  margin-top: 0;
  color: var(--dark-orange);
}

.card-header {
  background-color: var(--orange);
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.doctor-rating {
  color: var(--light-orange);
  flex-direction: row-reverse;
}

.rating-star {
  font-size: 1.8em;
  color: var(--white-orange);
}

.rating-number {
  font-weight: 600;
  font-size: 1.5em;
  padding-right: 5px;
}

.normal-text {
  font-size: 1rem;
}

.small-text {
  font-size: .8rem;
}

p {
  color: rgba(0,0,0,.5);
  margin: 0 !important;
  padding: 0 !important;
}

input {
  border-radius: 3px !important;
  border: 1px solid silver !important;
  height: 40px !important;
}

input:focus, .ant-picker {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}

label {
  font-size: 16px !important;
  color: black !important;
}

.ant-form-item {
  margin: 16px 0 !important;
}

.primary-button {
  background-color: var(--aqua-green) !important;
  border-color: var(--dark-green) !important;
  height: 40px !important;
  width: max-content !important;
  color: white !important;
  font-size: 18px !important;
}

.full-width {
  width: 100% !important;
  min-width: fit-content !important;
}

.anchor {
  color: black !important;
  /* text-decoration: underline !important; */
  font-size: 16px !important;
}

.anchor:hover {
  text-decoration: underline !important;
}

.ant-picker-input input {
  border: none !important;
}

.ant-picker {
  height: 40px !important;
  border-radius: 3px !important;
  border: 1px solid silver !important;
}

.pointer {
  cursor: pointer;
}

.notification-action {
  color: var(--dark-orange);
  font-size: 18px;
}

.green-frame {
  background-color: #99cc99;
  border-radius: 3px;
  padding: 0 7px;
}

.red-frame {
  background-color: #ee9999;
  border-radius: 3px;
  padding: 0 7px;
}

.orange-frame {
  background-color: var(--light-orange);
  border-radius: 3px;
  padding: 0 7px;
}

.yellow-bkg {
  background-color: rgba(255, 220, 0, 0.2);
}


@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 768px) {

  .primary-button {
    font-size: 16px !important;
  }

  .doctor-rating {
    flex-direction: column;
  }

  .rating-number {
    font-weight: 600;
    font-size: 1em;
    padding-right: 0;
  }

}