.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003333;
}

.authentication-form {
  width: 400px;
  border-radius: 3px;
}

.authentication .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: coral;
  color: white !important;
  max-width: max-content !important;
  padding: 7px 15px !important;
  margin-left: -40px;
  border-bottom-left-radius: 7px;
}